@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

.headings{
    display: flex;
    align-items: center;
    margin: 20px 140px;
    justify-content: space-evenly;
}

#line{
    display: flex;
    margin-left: 0px;
}

#title{
    font-family: 'Yeseva One', cursive;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.307));
    /*box-shadow: 5px 10px red;*/
}

.vcline{
    height: 80px;
    width: 5px;
    /*border-left: 5px solid #fdd902;*/
    background-color: #FECC01;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}


#Mission {
    color: #fd6202;
}

.p1{
    margin-left: 0px;
    font-family: 'poppins', sans-serif, "Bold";
    width: 800px;
    text-align: justify;
}

.exbtn{
    padding: 10px;
    color: #ffffff;
    background-color: #fd6202;
    transform: scale(1.5);
    border-radius: 5px;
    border: #fd6202;
    margin-top: 10px ;
    margin-left: 20px;
    margin-bottom: 5px;
}

.exbtn:hover {
    background: #ab0202;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .509));
}

.miss{
    font-family: 'poppins', Serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 140px;

}

#blog1{
    border-radius: 35px;
    background: #ecf4f5;
    padding: 20px;
    margin: 0 20px;
}

#blog2{
    border-radius: 35px;
    background: #fdeded;
    margin: 0 20px;
    padding: 20px;
}

#blog3{
    border-radius: 35px;
    background: #fdf3d5;
    padding: 20px;
    margin: 0 20px;
}

.develop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 90px 70px;
}

#dev{
    font-family: 'poppins', Serif;
    font-weight: bold;
    font-size: 50px;
}

.global{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Build{
    font-family: 'Poppins', Serif, "Bold";
    font-size: 3em;
    color: black;
    text-align: center;
}

.safe{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#stay{
    font-family: "Poppins", "Bold";
    font-size: 3em;
    justify-content: center;
    margin-left: 0px;
}

.conclude{
    margin-top: 80px;
    margin-bottom: 80px;
    height: 200px;
    background-color: black;
}

#conmiss{
    font-family: "Yeseva One", "Bold";
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 50px;
}

#hw{
    font-family: Poppins;
    color: white;
    text-align: center;
}